S Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Crystal
crystal/sdl.cr/
crystal/lib

# OCaml
*.cmi
*.cmx

# Executables
*.exe
*.out
*.app
main
small
go/go

# Nimrod cache
nimcache

# Rust
rust/sdl2/
Cargo.lock

# C++
c++20-cxx/c++20-cxx
c*/*.asm

# Temporary databases
*.dblite

# CMake
build/
CMakeCache.txt
CMakeFiles
inst/

# Ada
*.ali
*.ads
*.adb
*.adb.std*
*.bexch

# Zig
zig/zig-cache
zig/*.s
zig/zig

# Common Lisp
lisp/quicklisp/
lisp/quicklisp.lisp

# FreeBASIC
freebasic/main

# Odin
odin/main

# Object Pascal
fpc/*.res
objectpascal/*.res
*.ppu
fpc/SDL2/
objectpascal/SDL2/
